node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/traces
.claude
dist/
cucumber-report.html
cucumber-report.json

.idea
# Environment variables
.env
.env.local
.env.*.local

src/generated
screenshots

todo-api-docs.yaml
